.menu{
    display: flex;
    justify-content: space-between;
    background-color:#000000;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #ffffff;
}
body{
    margin: 0px;
    /* modify background color here*/
    background-color:#000000;
    
}

.bodyimg{
    width: 100%;
}

.introtext{
    color: #fff;
    font-size: x-large;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    font-family: sans-serif;
    
}
.grid img{
    border: 2px solid #000000;
    border-radius: 50px;
}
.origami {
    
    border-radius: 20px;
    background-color: #4B4B4B;
    /* modify margin and padding here*/
    padding: 200px;
    margin: 10px;
    width:250px;
    font-family: fantasy;
    
}
